.container nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.container{
  border-bottom:2px solid black; 
  padding:1.2em;
}

.search{
  width:40%;
  height:3em;
  border-radius:1em;
  padding-left : 10px ;
  border: 2px solid black;
}
.logo{
  width:12em;
}

.profile{
  height:3.2em;
  border-radius:50%;
  border: 3px solid black;
  
}

.recentcontainer{
  width : 100vw;
  display: flex;
  align-items : center;
   justify-content: space-between;
  padding:1.5em;
  gap:1em;
  overflow-x: scroll;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1000%);
  }
}

.recentcontainer::-webkit-scrollbar {
  display: none;
}
.recentcardbackground{
    width : 200px ;
    
}

.recentcard{
    background-size : cover;
    border-radius:20px;
    z-index : 1;
    position : relative;
    box-shadow:  5px 5px 10px #d9d9d9,
             -5px -5px 10px #ffffff;
    cursor: pointer;

}

.buttons {
  display: flex;
  margin-top: 10px;
}

.buttons button {
  background-color: #fff;
  color: #333;
  font-size: 20px;
  border: none;
  cursor: pointer;
  margin: 0 10px;
  padding: 5px 10px;
}

.container_recent{
  display:flex;
  flex-direction:column;
  align-items:center;
  padding-left:3em;

}

.logoutbtn{
  border: 0;
  background: #111;
  color: #fff;
  padding: 0.68em;
  border-radius: 14px;
  font-weight: bold;
  cursor: pointer;
}


.logoutbtn:hover{
  background-color: rgba(0, 0, 0, 0.693);
}

.hiuser{
  font-size: 16px;
}


.newscard{
  padding:1.2em;
  border-radius:1em;
  width:24em;
  height:6em;
  box-shadow:  5px 5px 10px #d9d9d9,
             -5px -5px 10px #ffffff;
  overflow:hidden;
  position: relative; 
  
}

.newscard h1{
  font-size:1.2em;
  font-weight:900;
  padding:0;
}
.newscard p{
  font-weight:600;
}

.newscard::before{
  content: "";
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.3;
  z-index:-1;
}

.newscontainer{
  display:grid;
  grid-template-columns: auto auto auto;
  gap:1em;
  font-family:sans-serif;
  padding:1.5em;
  overflow:hidden;
}
.sectionheading{
  padding-left:1em;
  margin-bottom:0; 
  padding-bottom:0;
}

